.is-dragging {
    z-index: 1000;
    transform: scale(1.05); /* Efeito visual extra para feedback */
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.is-dragging {
    z-index: 1000;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: grabbing;
}